@import '/node_modules/glightbox/dist/css/glightbox.min.css';

/* basic reset */
* {
    margin: 0
}

header {
    font-family: 'Baskerville';
    font-size: 48px;
    margin: 80px 50px 80px 50px;
    color: #214164;
    border-bottom: 1px solid #333
}

/* .headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
} */

/* masonry grid styles */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(20em, 100%));
    grid-template-rows: masonry;
    justify-content: center;
    grid-gap: 0.5em;
    padding: 0.5em;

    >* {
        align-self: start
    }
}

a {
    margin: auto 0;
}

/* prettifying styles */
html {
    background: #b3a69388;
    scroll-padding-top: 55px;
}

img {
    display: block;
    width: 100%;
    min-height: 120px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}
